# shellcheck disable=SC2148

# Disable warning timeout for direnv, helps to load faster
export DIRENV_WARN_TIMEOUT=0

# Automatically use the dependencies and config define
# in nix flake when enter dir
use flake
