# Enviroment
.direnv/
prompt.md
.env


### Terraform ###
# Local .terraform directories

**/.terraform/*
**/.terraform.local.hcl

# .tfstate files
*.tfstate
*.tfstate.*

terraform.tfvars
*.tfvars

claude.md
result
result.*
# ansible
docs/k8s-cluster-state.md
docs/proxmox-node-state.md
