# Enviroment
.direnv/
prompt.md
.env


### Terraform ###
# Local .terraform directories

**/.terraform/*
**/.terraform.local.hcl

# .tfstate files
*.tfstate
*.tfstate.*

terraform.tfvars
*.tfvars

result
result.*
