- name: Backup NixOS services, Podman data, and other files to MinIO
  hosts: bellamy
  become: yes

  vars:

    backup_temp_dir: "/tmp/ansible-backups"
    minio_alias: "myminio"
    minio_bucket: "thein3rovert-s3"
    date_tag: "{{ ansible_date_time.date }}"

    # Directories to tar & upload
    service_data_paths:
      # TODO: Create separation for different hosts
      # HOST (base)
      # - "/var/lib/postgresql"
      # - "/var/lib/n8n"
      # - "/var/lib/AdGuardHome"

      # HOST (bellamy)
      - "/var/lib/traefik"
      - "/var/lib/tailscale"
      - "/var/lib/jotty"
      - "/var/lib/minio"

      # MinIO S3 bucket storage
      # TODO: Create separate playbook
      - "/var/storage"

      # Podman persistent data
      - "/var/lib/containers/storage/secrets"
      - "/var/lib/containers/storage/volumes"

      # Podman custom networks
      - "/etc/containers/networks"

    # Single files to back up
    extra_backup_files:
      - "/var/lib/containers/storage/db.sql"



  tasks:
    # Create the temp backup dir
    - name: Create temporary backup directory
      file:
        path: "{{ backup_temp_dir }}"
        state: directory

    ###########################################################################
    # BACKUP TO BACKUP DIRECTORIES
    ###########################################################################
    - name: Backup each service directory as tar.gz
      include_tasks: tasks/backup-single.yml
      loop: "{{ service_data_paths }}"
      loop_control:
        loop_var: service_path

    ###########################################################################
    # BACKUP SINGLE IMPORTANT FILES TO BACKUP DIRECTORIES
    ###########################################################################

    - name: Back up important single files
      include_tasks: tasks/backup-single-files.yml
      loop: "{{ extra_backup_files }}"
      loop_control:
        loop_var: backup_file

    ###########################################################################
    # CLEANUP TEMPORARY BACKUPS FROM BACKUP DIR
    ###########################################################################

    - name: Remove temporary backup directory
      file:
        path: "{{ backup_temp_dir }}"
        state: absent

